In [21]:
import pandas as pd
import numpy as np
from os.path import expanduser
import warnings
warnings.filterwarnings("ignore")
import os

In [38]:
temp = {
    'system' :[],
    '1x': [],
    '2x': []
}
home = expanduser("~")
df = pd.read_csv(home + '/Dropbox/data/swarm-manager-data/results/theory/model-results-2x-not-that-late-1x-33p.csv')

for system_id in range(300):
    system_id += 1
    system_id = str(system_id)
    
    core_count = df[df.approach == 'BNV2-4.0'][df.system == 'system_' + system_id].max_total_core.values[0] * 2
    n_iter = df[df.approach == 'BNV2-4.0'][df.system == 'system_' + system_id].steps.values[0]
    
    if not os.path.exists('./results/'+system_id+'.txt'): continue
    
    with open('./results/'+system_id+'.txt') as f:
        lines = f.read().split('\n')
        lines = [line for line in lines if len(line.strip()) > 0]
        lines = [line for line in lines if 'info' not in line]
    
    initial_samples = 5
    if n_iter + initial_samples > len(lines):
        continue
    temp['system'].append('system_' + system_id)
    
    best_1x = 1e10
    best_2x = 1e10
    for iter_id, line in enumerate(lines):
        meets = bool(line.split(' ')[1])
        total = np.round(float(line.split(' ')[2]),2)
#         print(iter_id, meets, total)
        if not meets: continue
        
        if best_2x > total:
            best_2x = total
        
        if iter_id < initial_samples + n_iter / 2:
            if best_1x > total:
                best_1x = total
        
    temp['1x'].append(best_1x)
    temp['2x'].append(best_2x)
df_mobo = pd.DataFrame(temp)
df_mobo

        system       1x       2x
0     system_1   181.00   181.00
1     system_4   207.29   207.29
2    system_20   233.59   233.59
3    system_21   233.59   233.59
4    system_25   194.15   194.15
5    system_26   194.15   194.15
6    system_29   181.00   181.00
7    system_30   181.00   181.00
8    system_31   181.00   181.00
9    system_32   338.77   338.77
10   system_33   194.15   194.15
11   system_34   148.13   148.13
12   system_35   220.44   220.44
13   system_36   148.13   148.13
14   system_37   148.13   148.13
15   system_39   148.13   148.13
16   system_41   161.28   161.28
17   system_46   167.85   167.85
18   system_49   148.13   148.13
19   system_53   141.55   141.55
20   system_54   141.55   141.55
21   system_55   200.72   200.72
22   system_56   253.31   253.31
23   system_57   253.31   253.31
24   system_60   379.68   379.68
25   system_61   411.09   411.09
26   system_65   200.72   200.72
27   system_66   200.72   200.72
28   system_69   207.29   207.29
29   system_80   194.15   194.15
30   system_81   207.29   207.29
31   system_82   205.80   205.80
32   system_91   181.00   181.00
33   system_92   181.00   181.00
34   system_93   220.44   220.44
35  system_161   610.74   610.74
36  system_162   890.32   890.32
37  system_164   522.45   522.45
38  system_165   955.19   955.19
39  system_166   676.96   676.96
40  system_167  1375.91  1375.91
41  system_169  1520.29  1520.29
42  system_171  1015.40  1015.40
43  system_172   728.46   728.46
44  system_174  1221.40  1221.40
45  system_181   831.46   831.46
46  system_211  1068.95  1067.19
47  system_279   259.88   259.88
48  system_285   279.61   279.61
49  system_289   231.99   231.99
50  system_291   279.61   279.61
51  system_292   292.75   292.75
52  system_293   253.31   253.31
53  system_297   266.46   266.46

In [24]:
df = df[df.approach == 'BNV2-4.0']

,approach,system,steps,min_total_core,max_total_core,resources,classes,sla
0,BNV1-4.0,system_1,5,110.00,110.0,10,12,300.0
1,BNV1-2.0,system_1,8,70.00,70.0,10,12,300.0
2,BNV1-1.0,system_1,22,59.00,59.0,10,12,300.0
3,BNV1-0.5,system_1,45,57.50,57.5,10,12,300.0
4,BNV2-2.0,system_1,18,59.50,62.0,10,12,300.0
...,...,...,...,...,...,...,...,...
2395,BNV1-0.5,system_300,55,81.30,81.3,10,25,450.0
2396,BNV2-2.0,system_300,23,78.10,82.0,10,25,450.0
2397,BNV2-4.0,system_300,10,77.10,86.0,10,25,450.0
2398,BNV2-1.0,system_300,41,78.20,82.0,10,25,450.0
2399,AMPL,system_300,0,65.99,0.0,10,25,450.0

In [34]:
df[df.approach == 'BNV2-4.0'].steps.mean()

34.56666666666667

In [35]:
df[df.approach == 'BNV1-4.0'].steps.mean()

18.916666666666668